tbody {
    display:block;
  
    overflow:auto;
}
thead, tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
}
.tableheads{
  background-color: #90EE90;
}
::-webkit-scrollbar {
    margin-right: 5px;
    width: 5px;
    height: 10px;
}
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background: #27AE60;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

.almsg {
  padding: 20px;
  background-color: #f44336;
  color: white;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}
.attendancbody{
 height: 300px;
}